---
layout: base.njk
---

<article class="post">
  <header>
    <h1>{{ title }}</h1>

    {% if date %}
      <p><small>Pubblicato il {{ date }}</small></p>
    {% endif %}

    {% if cover %}
      <p>
        <img src="{{ cover }}" alt="{{ title }}" style="max-width:100%; height:auto;">
      </p>
    {% endif %}
  </header>

  {{ content | safe }}
</article>
